
@font-face {
    font-family: "SF Pro Display";
    src: url("fonts/SF-Pro-Display-Thin.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: "SF Pro Display";
    src: url("fonts/SF-Pro-Display-Ultralight.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: "SF Pro Display";
    src: url("fonts/SF-Pro-Display-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "SF Pro Display";
    src: url("fonts/SF-Pro-Display-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "SF Pro Display";
    src: url("fonts/SF-Pro-Display-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: "SF Pro Display";
    src: url("fonts/SF-Pro-Display-Semibold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: "SF Pro Display";
    src: url("fonts/SF-Pro-Display-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "SF Pro Display";
    src: url("fonts/SF-Pro-Display-Heavy.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: "SF Pro Display";
    src: url("fonts/SF-Pro-Display-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
  }

  html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}
  
  body {
    background: linear-gradient(to top, #292D32, #070808);

    font-family: "SF Pro Display", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

  }

  
main {
  flex: 1;
}

.video-background {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
 
  #intro-video {
    z-index: 1;
  }
 
  a {
    text-decoration: none;
    font-size: 16px !important; 
  }

a:hover {
  text-decoration: none;
  color: #30D5C8 !important; 
}


   .content a {
  text-decoration: underline;
  color: #30D5C8 !important; 
}

.content a:hover {
  text-decoration: none;
  text-decoration: underline;
  color:#009DE0 !important;
}


  p {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px !important; 
  }

  li {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px !important; 
  }

  h1 {
  font-family: "SF Pro Display", sans-serif;
  font-size: 50px !important;  
  font-weight: bold; 
  }

  h2 {
      font-family: "SF Pro Display", sans-serif;
      font-size: 40px !important;  
      font-weight: bold; 
   }

  h3 {
    font-family: "SF Pro Display", sans-serif;
    font-size: 30px !important;  
    font-weight: bold; 
  }
  h4 {
    font-family: "SF Pro Display", sans-serif;
    font-size: 24px !important;  
    font-weight: bold; 
  }

  h5 {
    font-family: "SF Pro Display", sans-serif;
    font-size: 16px !important;  
    font-weight: bold; 
  }

  #pcss-title {
  font-weight: bold;
  background: linear-gradient(90deg, #30D5C8, #009DE0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 200px !important;
  margin: 0 auto;
}

.navbar-custom {
  background-color: #000000 !important;
  height: 60px;
}
.navbar-custom .navbar-brand img {
  max-height: 40px; 
}
.navbar-custom .navbar-nav .nav-link {
  line-height: 60px;
}
.navbar-custom .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}

.nav-link.nav-button {  
    color: #ffffff;                   
    transition: color 0.3s ease;      
    margin-left: 40px; 
    font-size: 16px;
}

.nav-link.nav-button:hover {
    color: #30D5C8;               
    text-decoration: none; 
}
.navbar-toggler {
    border: none; 
    background-color: transparent; 
    padding: 0.5rem 0.75rem;
    outline: none;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

  }  
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: none;
    box-shadow: none;
    border: none;
  }
.info-text-container {
  text-align: center;
  color: #707070;
  font-size: 16x;
  margin: 8px 0; 
}
.linea-horizontal {
    width: 100px; 
    height: 4px; 
    margin: 20px auto; 
    background: linear-gradient(90deg, #30D5C8, #009DE0); /* Degradado horizontal */
    border-radius: 2px;
}


#section-AboutUS {
  padding: 5vh 5vw; 
  text-align: center; 
}

#section-AboutUS .container-fluid {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

#section-AboutUS .row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

#section-AboutUS img.Police-Controller {
  max-width: 50%; 
  height: auto;
  margin-bottom: 2rem; 
}

#section-AboutUS #container_about_us {
  max-width: 800px;
}

#section-AboutUS h1 {
  background: linear-gradient(90deg, #30D5C8, #009DE0); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
}

#section-AboutUS p {
  color: #fff;
  margin-bottom: 1rem;
}

#section-AboutUS .button-container {
  margin-top: 1.5rem;
}



.PCSS-card {
    background-color: transparent; /* o usa #ffffff para blanco */
    border-radius: 5px;
    padding: 20px;
    height: 100%; /* Permite que los cuadros tengan altura completa */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* distribuye icono y texto */
}

/* Icono dentro del cuadro */
.PCSS-icon {
    width: 140px; /* ajusta tamaño del icono */
    height: auto;
    margin-bottom: 15px;
}

/* Hacer que todos los cuadros tengan la misma altura */
.row.text-center > div {
    display: flex;
    flex-direction: column;
}

.row.text-center > div > div {
    flex: 1; /* fuerza misma altura */
}

#section-Funcionalidades {
  height: auto;
  background: #fff;
  width: 100%;

}
#section-Versiones {
  height: auto;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 80px;
}


#versiones {
  background-color: #fff;
  padding-top: 120px;
  margin-top: -150px;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 100px;
}


#section-Versiones .container {
margin-top: 160px;
}
#section-PCSS {
  height: auto;
  background: linear-gradient(to top, #292D32, #070808);
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  width: 100%;
  margin-top: -180px;
  padding-top: 10px;
  
}
#section-Contacto {
  padding-bottom: 5vh ;
}

#contact_container .col-md-5 {
  background: linear-gradient(to right, #009DE0, #30D5C8); /* Degradado lineal */
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

 .circle-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 20px auto 0 auto; /* top: 20px, horizontal: auto, bottom: 0 */
}

  .circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(circle, #000 60%, #009DE0 100%);
    box-shadow:
      0 0 10px #30D5C8,
      0 0 40px #30D5C8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
  }

  .circle-text {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
  }

  .circle-text span:first-child {
    font-size: 2.3rem;
  }

  .circle-text span:last-child {
    font-size: 1.0rem;
    margin-top: 6px;
  }
.img-fluid {
  border-radius: 20px;
}




.button-container {
  display: flex;
  justify-content: center;
}
.solid-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #009DE0;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  width: 130px;
  height: 100px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.solid-btn:hover {
  background-color: #004E9D;
}
.arrow-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}
.btn-text {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}



.video-container {
  position: relative;
  width: 100%;
  height: 80%;
}


.video-overlay-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 40%; 
  text-align: center;
  z-index: 15;
  color: white;
  pointer-events: none;
}

.line {
  opacity: 0;
  transform: translateY(20px);
  animation: riseUp 0.6s ease-out forwards;
}


.line:nth-child(1) { animation-delay: 0.2s; }
.line:nth-child(2) { animation-delay: 0.6s; }
.line:nth-child(3) { animation-delay: 1s; }


@keyframes riseUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.custom-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: -25vh;
}

.custom-section .row {
  margin: 0 auto;
  gap: 10px; 
}

.custom-section .col-12,
.custom-section .col-md-5 {
  margin: 2px;
}

.custom-section .card {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.custom-section .card-body {
  padding: 20px;
  margin-bottom: 5px;
}

.custom-section .card-title {
  margin-bottom: 10px;
     background: linear-gradient(to right, #009DE0, #30D5C8); /* Ejemplo de degradado rojo a amarillo */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  

  background-clip: text;
  color: transparent;
}

.custom-section .card-text {
  margin-bottom: 15px;
  color: #ccc;
  font-size: 1rem;
}

.card-img-bottom {
  max-height: 120px; /* ajusta este valor según lo que quieras */
  width: auto;       /* que mantenga la proporción */
  object-fit: contain; /* para que no se distorsione */
  margin-top: 5px;   /* espacio arriba si quieres */
}






@media (max-width: 1400px) {

  .phone-nav .phone-number {
    font-size: 12px;
  }
  .nav-link.nav-button {      
      margin-left: 8px; 
      font-size: 12px;
  }
    p {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px !important; 
  }

  li {
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px !important; 
  }

  h1 {
  font-family: "SF Pro Display", sans-serif;
  font-size: 30px !important;  
  font-weight: bold; 
  }

  h2 {
      font-family: "SF Pro Display", sans-serif;
      font-size: 25px !important;  
      font-weight: bold; 
   }

  h3 {
    font-family: "SF Pro Display", sans-serif;
    font-size: 20px !important;  
    font-weight: bold; 
  }
  h4 {
    font-family: "SF Pro Display", sans-serif;
    font-size: 22px !important;  
    font-weight: bold; 
  }

  h5 {
    font-family: "SF Pro Display", sans-serif;
    font-size: 16px !important;  
    font-weight: bold; 
  }

.solid-btn {
  border-radius: 5px;
  width: 120px;
  height: 95px;
}

  #section-Ourservices {
  margin-top: -40vh;
}
  #pcss-title {
  
  font-size: 130px !important;

}
#section-PCSS {
  margin-top: -220px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
;
  
}
.custom-section .card-body {
  margin-bottom: 2px;
}

#section-Versiones {
  height: auto;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 120px;
}


#versiones {
  margin-top: -150px;
}
  .circle-container {
    width: 250px;
    height: 250px;
  }

 

  .circle-text span:first-child {
    font-size: 2rem;
  }

  .circle-text span:last-child {
    font-size: 0.8rem;
    margin-top: 6px;
  }
.img-fluid {
  border-radius: 20px;
}



}

@media (min-width: 992px) {



  .section4,
  .section5 {
    display: none;
  }

  .section2 {
    position: absolute;
    right: 2rem; /* Ajusta el margen derecho según necesidad */
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }


  .phone-nav {
    display: flex;
    align-items: center;
    gap: 8px; 
  }

  .phone-nav .phone-number {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .phone-nav .phone-number:hover {
    color: #30D5C8;
  }


  }

@media (max-width: 991.98px){

 
.video-overlay-text {
  position: absolute;
  top: 25%;
  width: 45%;
}
.section1 {
    background-color: rgb(255, 255, 255);
    margin-top: -4px;
    border-radius: 10px; 
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  } 

  .nav-divider {
    display: block;
    height: 1px;
    background-color: #707070;
    margin: 0;
    padding: 0;
  }
  .section2 {
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
    border-radius: 10px;
    display: none !important;
  } 


  .section4 {
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
    border-radius: 10px;
    display: block !important;
    padding-top: 4px;
    padding-bottom: 4px;
  } 


  .section5 {
    background-color: rgb(0, 0, 0);
    margin-top: 5px;
    border-radius: 10px;
    display: block !important;
    height: 50px;
  } 

    div.section5 {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 60px !important;
  }

  .section4,
  .section5 {
    display: block !important;
  }

.nav-link.nav-button {      
      margin-left: 8px; 
      font-size: 16px;
  }

.navbar-collapse.collapse.show {
  padding: 13px 20px 20px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  
  width: 100vw;
  max-width: 100vw;
  height: calc(100vh - 60px); 
  
  margin: 0;
  overflow-y: auto;  
  overflow-x: hidden;
  
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 100;
}



.collapse {
  transition: none !important;
}
.collapsing {
  height: auto !important;
  transition: none !important;
  display: none !important;
}

  .navbar-toggler-icon {
    filter: invert(0);
  }
  .nav-link.nav-button {      
      margin-left: 0px; 
  }
  .phone-nav-mobile {
  display: flex;
  align-items: center;
  gap: 8px; 
  }


.navbar-collapse.collapse.show .nav-link {
  color: #707070 !important;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  line-height: 1.4;
  margin-left: 16px; 
  display: inline-block;
  transition: color 0.3s ease;
}


.navbar-collapse.collapse.show .nav-link:hover {
  color: #30D5C8 !important;
}

.phone-nav-mobile .phone-number {
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.phone-nav-mobile .phone-number:hover {
  color: #30D5C8;
}

  li {
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px !important; 
  }

.nav-divider {
  border: none;
  border-top: 1px solid #707070;
  margin: 0;     
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}





.solid-btn {
  border-radius: 5px;
  width: 120px;
  height: 95px;
}


}

@media (max-width: 1200px) {
 

}
@media (max-width: 768px) {
  #pcss-title {
  font-size: 90px !important;
}

#versiones {
  margin-top: -100px;
}
    .sin-borde-movil {
    border-left: none !important;
  }

    .video-overlay-text {
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
    padding-left: 0;
  }
 

#section-AboutUS {
  padding-bottom: 14vh !important;
  padding-left: 5vh;
  padding-right: 5vh;
  padding-top:5vh;
}

#section-Funcionalidades {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

}
